.dashboard{
    width: 100%;
    background-color:#ff0000;
    position: relative;
}
@media only screen and (min-width: 768px){
    .dashboard{
        display: flex;
        height: 100vh;
    }
}
.dashboard .left{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100%;
    flex:1;
    height: 100%;
}
.dashboard .left .top{
    display: flex;
    flex-direction: column;
    background-color:#993df5;
    width: 100%;
    height: 100%;
    flex:1;
}
.dashboard .left .top header{
    box-sizing: border-box;
    width: 100%;
    padding-left:30px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    
}
.dashboard .left .top .asset1{
    text-align: center;
    margin:auto;
    padding-bottom: 20px;
    
}
.dashboard .left .top .asset1 img{
    width: 300px;
    height: 250px;   
}
.dashboard .left .bottom{
    display: flex;
    flex-direction: column;
    background-color:#8000ff;
    width: 100%;
    height: 100%;
    flex:1;
}
.dashboard .left .bottom header{
    box-sizing: border-box;
    width: 100%;
    padding-left:40px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size:40px;   
}
.dashboard .left .bottom .grid{
    display: grid;
    grid-template-columns: auto auto;
    flex: 1;
    
}
.dashboard .left .bottom .grid .item> div{
    padding-left: 40px;
    color: white;
    padding-bottom: 10px;
}
.dashboard .left .bottom .grid .item img{
    padding-left: 40px;
    padding-bottom: 10px;
    width: 50px;
    height:50px;
    
}
.dashboard .right{
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    width: 100%;
    height: 100%;
    flex:1;
}
.dashboard .right header{
    box-sizing: border-box;
    display: flex;
    background-color:white;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.dashboard .right header div{
    padding:10px 20px ;
    font-size: large;
    font-weight: 500;
}
.dashboard .right header img{
    padding:10px 20px ;
    width: 20px;
}
.dashboard .right .apps{
    overflow-y: auto;
    padding: 20px 30px;
    background-color: whitesmoke;
    height: 100vh;
}
.dashboard .right .apps .app{
    width: 100%;
    box-sizing: border-box;
    min-height: 50px;
    background-color: white;
    margin-bottom: 10px;
    padding: 20px 10px 5px 20px;
}
.dashboard .right .apps .app .top{
    display: flex;
    justify-content: space-between;
}
.dashboard .right .apps .app .top img{
    width: 15px;
    height: 15px;
}
.dashboard .right .apps .app .top-left{
    display: flex;
}
.dashboard .right .apps .app .top-left .appicon{
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    margin-right: 10px;
}
.dashboard .right .apps .app .top-left .appname{
}
.dashboard .right .apps .app .top-left .pubname{
    font-size: smaller;
}
.dashboard .right .apps .app .bottom{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}
.dashboard .right .apps .app .bottom .title{
    margin-right: 20px;
    font-size: small;
}
.dashboard .right .apps .app .bottom .value{
    margin-right: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}